// Floating panel for the editor to add stuff into
ccp-container {
  position: fixed;
  display: flex;
  top: 20%;
  left: 20%;
  border-radius: 3px;
  background-color: @background;
  border: 1px solid @amber;
  flex-direction: column;

  .invisible {
    display: none;
  }

  @arrow: 10px;

  &:before, &:after {
    position: absolute;
    content: '';
    width: @arrow;
    height: @arrow;
    background-color: inherit;
    transform: rotate(-45deg);
    left: ~"calc(50% - "@arrow~")";
  }

  &:before {
    bottom: ~"calc(100% - "(@arrow / 2)~")";
    box-shadow: 1px -1px 0 0 @amber;
  }

  &:after {
    display: none;
    top: ~"calc(100% - "(@arrow / 2)~")";
    box-shadow: -1px 1px 0 0 @amber;
  }

  &.down {
    &:before {
      display: none;
    }

    &:after {
      display: block;
    }
  }
}

ccp-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.26);
  width: 100%;
  height: 100%;
  z-index: 1;
}
