# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Chrome Color Picker'
      'command': 'chrome-color-picker:toggle'
    }
  ]
  'ccp-palette-inner ccp-swatch': [
    {
      'label': 'Copy Swatch'
      'command': 'chrome-color-picker:close'
    }
    {
      'label': 'Paste Swatch'
      'command': 'chrome-color-picker:close'
    }
    {
      'label': 'Delete Swatch'
      'command': 'chrome-color-picker:close'
    }
  ]
